<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>IsharaComix | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Barry Peddycord III's Blog" />
        <meta name="author" content="Barry Peddycord III">

        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap-custom.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/font-awesome.css">

        <script src="{{site.baseurl}}js/jquery-1.9.1.min.js"></script>
        <script src="{{site.baseurl}}js/bootstrap.js"></script>

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="alternate" title="Blog Feed" href="http://isharacomix.org/feed" type="application/rss+xml">
        <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
        <link rel="openid2.local_id" href="http://www.google.com/profiles/109698223232106496867" />
    </head>


    <body>
        <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <a href="{{site.baseurl}}"><img src="{{ site.baseurl }}ishara.png" alt="" class="img-thumbnail center-block" width="15%" /></a>
                  <h1 class="text-center">Barry Peddycord III <small>isharacomix</small></h1>
                  {% if page.title != 'Home' %}
                  <div class="text-center">
                  <a class="btn btn-default {% if page.title == 'Work' %}disabled{% endif %}" href="{{ site.baseurl }}work" role="button">Work</a>
                  <a class="btn btn-default {% if page.title == 'Service' %}disabled{% endif %}" href="{{ site.baseurl }}service" role="button">Service</a>
                  <a class="btn btn-default {% if page.title == 'Speaking' %}disabled{% endif %}" href="{{ site.baseurl }}speaking" role="button">Speaking</a>
                  <a class="btn btn-default {% if page.title == 'Personal' %}disabled{% endif %}" href="{{ site.baseurl }}personal" role="button">Personal</a>
                  </div>
                  {% endif %}
                  <hr />
              </div>
            </div>


              {{ content }}

              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <p></p>
                  <div class="text-center">
                    <a class="btn btn-default" href="http://github.com/isharacomix" role="button">
                      <i class="fa fa-github fa-2x" title="Github" alt="Github"></i>
                    </a>
                    <a class="btn btn-default" href="http://twitter.com/isharacomix" role="button">
                      <i class="fa fa-twitter fa-2x" title="Twitter" alt="Twitter"></i>
                    </a>
                    <a class="btn btn-default" href="http://linkedin.com/in/isharacomix" role="button">
                      <i class="fa fa-linkedin fa-2x" title="LinkedIn" alt="LinkedIn"></i>
                    </a>
                    <a class="btn btn-default" href="mailto:ishara@isharacomix.org" role="button">
                      <i class="fa fa-envelope fa-2x" title="Email" alt="Email"></i>
                    </a>
                  </div>
                </div>
              </div>


            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <hr />
                  <a href="http://info.flagcounter.com/m4em"><img class="pull-right" src="http://s05.flagcounter.com/mini/m4em/bg_FFFFFF/txt_000000/border_CCCCCC/flags_0/" alt="Flag Counter" class="img-responsive"></a>
                  <p class="text-muted">Copyright &copy; 2006-2015 Barry Peddycord III, Some Rights Reserved  </p>
              </div>
            </div>



        </div>
        <script charset="utf-8" src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    </body>
</html>
