<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>IsharaComix | {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="Barry Peddycord III's Blog" />
        <meta name="author" content="Barry Peddycord III">

        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap-theme.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/font-awesome.css">

        <script src="{{site.baseurl}}js/jquery-1.9.1.min.js"></script>
        <script src="{{site.baseurl}}js/bootstrap.js"></script>

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
        <link rel="alternate" title="Blog Feed" href="http://isharacomix.org/feed" type="application/rss+xml">
        <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud?source=profiles" />
        <link rel="openid2.local_id" href="http://www.google.com/profiles/109698223232106496867" />
    </head>


    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-4">
                {{ content }}
                </div>
                <div class="col-md-2 col-md-offset-2 col-md-pull-6">
                  <a href="{{site.baseurl}}"><img src="{{site.baseurl}}ishara.png" class="img-responsive img-thumbnail" alt="" /></a>

                  <ul class="nav nav-pills nav-stacked">
                     <li role="navigation"><a href="{{site.baseurl}}demos" role="button">Demos</a></li>
                     <!--<li role="navigation"><a href="{{site.baseurl}}games" role="button">Games</a></li>-->
                     <li role="navigation"><a href="{{site.baseurl}}about" role="button">About</a></li>
                     <li role="navigation"><a href="{{site.baseurl}}cv" role="button">CV</a></li>
                     <li role="navigation"><a href="https://twitter.com/isharacomix" role="button">Twitter</a></li>
                     <li role="navigation"><a href="https://github.com/isharacomix" role="button">Github</a></li>
                     <li role="navigation"><a href="http://ask.fm/isharacomix" role="button">Q&amp;A</a></li>
                  </ul>
                </div>
            </div>
            <div class="row">
              <div class="col-md-10 col-md-offset-2">
                <hr />
            <p class="text-muted">Copyright &copy; 2006-2014 Barry Peddycord III, Some Rights Reserved  </p>
              </div>
            </div>
        </div>

        <script charset="utf-8" src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
    </body>
</html>
