<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
 <title>{{ page.title }}</title>
 <link href="{{site.baseurl}}feed" rel="self"/>
 <link href="{{site.baseurl}}"/>
 <updated>{{ site.time | date_to_xmlschema }}</updated>
 <id>{{site.baseurl}}</id>
 <author>
   <name>Barry Peddycord III</name>
   <email>ishara@isharacomix.org</email>
 </author>

 {% for p in site.data.pages limit: 20 %}
 <entry>
   <title>{{ p.name }}</title>
   <link href="{{site.baseurl}}{{ p.type }}s/{{ p.shortname }}"/>
   <updated>{{ p.date | date_to_xmlschema }}</updated>
   <id>{{site.baseurl}}{{ p.type }}s/{{p.shortname}}</id>
   <content type="html"></content>
 </entry>
 {% endfor %}
 
</feed>
