---
layout: post
---


<div class="panel panel-default">
<div class="panel-body">
<div id="emulator"></div>
<div>
<a href="{{site.repo}}tree/{{site.branch}}/{{ page.type }}s/{{ page.shortname }}"><i class="fa fa-github fa-3x" title="View the demo source code" alt="View the demo source code"></i></a>
<a href="{{site.baseurl}}{{page.type}}s/{{page.shortname}}/{{page.rom}}"><i class="fa fa-download fa-3x" title="Download the ROM" alt="Download the ROM"></i></a>
<a href="#"  data-toggle="modal" data-target="#myModal" ><i class="fa fa-info-circle fa-3x" title="Instructions" alt="Download the ROM"></i></a>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">How to Play</h4>
      </div>
      <div class="modal-body">
        <h3>Controls</h3>
         <ul>
          <li>X/J are A.</li>
          <li>Z/Y/Q are B.</li>
          <li>Shift is Select.</li>
          <li>Enter is Start.</li>
          <li>The arrow keys are the d-pad.</li>
        </ul>

        Click on the emulator screen to give it keyboard focus and click out of
        the screen to remove focus. If you have trouble playing the games in
        your browser, you can also download them to your computer and play them using
        a dedicated emulator like <a href="http://mednafen.sourceforge.net/">Mednafen</a>.
        You can view the source code of the games by visiting its Github page.

        <h3>Credits</h3>
        <em>JSNES</em> is an open source emulator written by Ben Firshman.
        Check out the original project on
        <a href="https://github.com/bfirsh/jsnes/">Github</a>!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>




<script src="{{site.baseurl}}js/nes/dynamicaudio-min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}js/nes/jsnes.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    var nes;
    $(function() {
        nes = new JSNES({
            'swfPath': '{{site.baseurl}}js/nes/',
            'ui': $('#emulator').JSNESUI("{{page.rom}}")
        });
    });
</script>
<!--[if IE]>
<script type="text/vbscript" src="source/jsnes-ie-hacks.vbscript"></script>
<![endif]-->

{{ content }}
